<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TamTang</title>
</head>
<body>
    <h1>Helloo tam tang tao laf hoang</h1>
</body>
</html>